extends layout

block content

  html.jumbo
    h1 Top Teacher
    p Connect you child with a top 10% Native English teacher

    form.search(method="Get" action="/session")
      label(for="neighborhood") Location :
      select(name="neighborhood" id="neighborhood")
        option(value="dobong" selected) dobong
        option(value="dongdaemun") dongdaemun
        option(value="dobong") dobong
        option(value="dongjak") dongjak
        option(value="eunpyeong") eunpyeong
        option(value="gangbuk") gangbuk
        option(value="gangdong") gangdong
        option(value="gangnam") gangnam
        option(value="gangseo") gangseo
        option(value="geumcheon") geumcheon
        option(value="guro") guro
        option(value="gwanak") gwanak
        option(value="gwangjin") gwangjin
        option(value="jongno") jongno
        option(value="jung") jung
        option(value="jungnang") jungnang
        option(value="mapo") mapo
        option(value="nowon") nowon
        option(value="seocho") seocho
        option(value="seodaemun") seodaemun
        option(value="seongbuk") seongbuk
        option(value="seongdong") seongdong
        option(value="songpa") songpa
        option(value="yangcheon") yangcheon
        option(value="yeongdeungpo") yeongdeungpo
        option(value="yongsan") yongsan

      input(type="submit")

