extends ../layout

block content
  h1 
    a(href="/students") Students

  - if (students) {
  ul
    for student in students
      a(href="/students/" + student._id) 
        li= student
  - }

  a(href="/students/new") new student


