extends ../layout

block content
  h1 
    a(href="/students") Students

  form(method='POST', action='/students/new')
    label(for='name') Name
    input#name(type='text', name='name')
    label(for='email') Email
    input#email(type='email', name='email')
    input(type='submit')

