extends ../layout

block content
  h1 
    a(href="/students") Students

  - if (student) {
  p #{student}

  a(href="/students/edit/" + student._id) edit
  form(method="Post" action="/students/delete/" + student._id) 
    button(type="submit") delete
  - }
